.air-notification {
  background-color:#1D2B42;
  display: none;
}

.air-notification p {
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.air-notification a {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: .4rem;
}

.air-notification .container {
  align-items: center;
  max-width: 1440px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: .5rem;
}

.air-notification button {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin-left: auto;
  flex-shrink: 0;
}

.air-notification span[aria-hidden="true"] {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.air-notification button svg {
  height: 17px;
  width: 17px;
}

.air-notification svg {
  height: 22.5px;
  width: auto;
  color: #fff;
  flex-shrink: 0;
}
